<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3>Диаграмма заказов по суммам</h3>
                <ngx-charts-pie-chart [view]="[800, 500]" [results]="chartData" [legend]="true" [explodeSlices]="false" [labels]="true" [doughnut]="true">
                </ngx-charts-pie-chart>
                <div class="clearfix"></div>
            </div>

            <div class="asd">
                <h3>Диаграмма суммы заказов по заказчикам</h3>
                <ngx-charts-number-card [view]="[545, 355]" [results]="chartData">
                </ngx-charts-number-card>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>