<div class="title-block">
    <h3 class="title">
        <a [routerLink]="['/system', 'history']"><i class="fa fa-arrow-left"></i></a> Страница записи № {{record.id}}
        <span class="sparkline bar"></span>
    </h3>
</div>
<section class="section">
    <div class="row">
        <div *ngIf="!isLoaded">...</div>
        <div *ngIf="isLoaded" class=" col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1 col-xs-12">
            <div class="card card-success">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title">Карточка записи</p>
                    </div>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item">Заказчик: <strong> {{record.creator}} </strong></li>
                        <li class="list-group-item">Откуда: <strong> {{record.from}} </strong></li>
                        <li class="list-group-item">Куда: <strong> {{record.to}} </strong></li>
                        <li class="list-group-item">Размеры: <strong> {{record.sizes}} </strong></li>
                        <li class="list-group-item">Вес: <strong> {{record.weight}} </strong></li>
                        <li class="list-group-item">Дата: <strong> {{record.date}} </strong></li>
                        <li class="list-group-item">Доставщик: <strong> {{record.deliverer}} </strong></li>
                        <li class="list-group-item">Статус: <strong> {{record.status}} </strong> <button *ngIf="(record.deliverer.toLowerCase() != 'не выбран') && (record.status.toLowerCase() != 'доставлено')" (click)="confirmDelivery()" class="btn btn-warning default_pos">Доставить</button></li>
                        <li class="list-group-item">Информация об оплате: <strong> </strong></li>
                    </ul>
                </div>
                <div class="card-footer" *ngIf="record.deliverer == 'не выбран'">
                    <p class="title">Список доступных достащиков:</p>

                    <!-- <button class="btn btn-primary btn-lg btn-block">Показать откликнувшихся</button> -->
                    <table class="table table-striped" *ngIf="record.respondedDeliverers[0].deliverer != ''">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Доставщик</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Стоимость</th>
                                <th *ngIf="record.deliverer == 'не выбран'" scope="col">Выбор</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders;let idx = index">
                                <th scope="row">{{idx + 1}}</th>
                                <td> {{order.deliverer}} </td>
                                <td> {{order.dateOfDeliver}} </td>
                                <td> {{order.value}} </td>
                                <td *ngIf="record.deliverer == 'не выбран'"><button class="btn btn-success" (click)="chooseDeliverer(order.deliverer)">+</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>