<div class="container col-xs-8 xol-xs-offset-2">

    <form (ngSubmit)="submitForm()" #form="ngForm">
        <div ngModelGroup="user" #user="ngModelGroup">
            <div class="form-group" [ngClass]="{'has-error': email.invalid && email.touched}">
                <label for="">Email</label>
                <input type="text" class="form-control" ngModel name="email" required email #email="ngModel">
                <p *ngIf="email.invalid && email.touched">Введите корректный email</p>
            </div>
            <div class="form-group" [ngClass]="{'has-error': pass.invalid && pass.touched}">
                <label for="">password</label>
                <input type="password" class="form-control" ngModel name="pass" #pass="ngModel" required>
                <p *ngIf="pass.invalid && pass.touched">Пароль не должен быть</p>
            </div>
            <p *ngIf="user.invalid && user.untouched">Данные пользователя введены некорректно</p>
            <div class="form-group"><label for=""></label>
                <select class="form-control" [ngModel]="defaultCountry" name="country" required>
              <option value="ru">Россия</option>
              <option value="by">Беларусь</option>
              <option value="ua">Украина</option>
            </select>
            </div>
            <div class="radio" *ngFor="let ans of answers">
                <label>
            <input type="radio" [value]="ans.type" [ngModel]="defaultAnswer" name="answer" required> {{ans.text}}
          </label>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!form.valid">Сохранить</button>
        </div>
    </form>
    <div *ngIf="isSubmitted">
        <pre>
        {{formData | json}}
      </pre>
    </div>

</div>