<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a class="nav-link" routerLink="/">Главная</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" [routerLink]="'/cars'">Машины</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>