<p>Форма добавления машин</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>

<button class="btn btn-success" (click)="changeCarName()">Изменить имя машины</button>
<button class="btn btn-danger" (click)="deleteCar()">Удалить</button>
<hr>
<div class="list-group">
    <app-car class="list-group-item" *ngFor="let carItem of cars" [carItem]="carItem" [name]="carItem.name">
        <h4 #carHeading class="list-group-item-heading">Название:{{carItem.name}} </h4>
        <p class="list-group-item-text">Год: {{carItem.year}}</p>

    </app-car>
</div>